
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #ca7968;
    background-image: linear-gradient(-45deg, #8d5449 0%, #292525 74%);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

.frames-container{
    margin: 0 auto;
    max-width: 1366px;
}

.frames-container-light{
    position: fixed;
    top : 5%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 36px;
    color: beige;
}

.animContainer {
  width: 900px;
  height: 510px;
  max-width: 960px;
  max-height: 540px;
  margin: 0 auto;
  position: fixed;
  top : 15%;
  left: 50%;
  transform: translate(-50%, 0);
}

.bodyContainer {
  width: 900px;
  height: 620px;
  position: fixed;
  top: 19%;
  left: 50%;
  transform: translate(-50%, 0);
}

.bodyContainer .hed {
  text-align: center;
  color: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  transform: translate(0, 20px);
  z-index: 5;
}
.bodyContainer .hed h1 {
  border: 5px solid black;
  font-size: 1.5em;
  line-height: 0.8em;
  text-transform: uppercase;
  margin: 0;
  padding: 0.2em;
}
.bodyContainer .hed p {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.bodyContainer .controls {
  width: 100%;
  position: fixed;
  transform: translate(0, 480px);
}
.bodyContainer .controls .buttons,
.bodyContainer .controls .buttonsNG {
  font-size: 1.75em;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 10px 0;
}
/* .bodyContainer .controls .buttons button,
.bodyContainer .controls .buttonsNG button {
  font-size: 0.5em;
  height: 30px;
  margin: 0;
  padding: 0 5px;
} */
.bodyContainer .controls .buttonsNG {
  border: 1px solid #ff00ff;
}
.bodyContainer .controls #sliderWrapper {
  margin: 0;
  padding: 0 0 20px 0;
}
.bodyContainer .controls #sliderWrapper #slider {
  width: 100%;
}
.bodyContainer .stats {
  font-family: monospace;
  color: #ffffff;
  width: 30%;
  height: 60px;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translate(0, 400px);
  float: right;
  z-index: 5;
}
.bodyContainer .stats p {
  border: 1px solid #333333;
  font-size: 1em;
  width: 100%;
  height: 33.333%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
.bodyContainer .stats .scrollProgress {
  top: 33.3333%;
}
.bodyContainer .stats .scrollPosition {
  top: 66.6666%;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons button{
    padding: 18px 36px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: beige;
    display: flex;
    align-items: center;
    gap: 8px;
}

button:disabled{
    pointer-events: none;
    opacity: 0.45;
}

.buttons button img{
    width: 33px;

}

